<div>
  {{ question.no }}. {{ question.text }}
  <div *ngFor="let option of question.options">
    <input
      type="radio"
      [name]="'question' + question.no"
      [(ngModel)]="answer"
      [value]="option.value">{{ option.text }}<br>
  </div>
</div>

<div class="container">
  <ul>
    <li>
      <input type="radio" id="f-option" name="selector">
      <label for="f-option">Pizza</label>
        
      <div class="check"></div>
    </li>

    <li>
      <input type="radio" id="s-option" name="selector">
      <label for="s-option">Bacon</label>
        
      <div class="check"><div class="inside"></div></div>
    </li>
      
    <li>
      <input type="radio" id="t-option" name="selector">
      <label for="t-option">Cats</label>
        
      <div class="check"><div class="inside"></div></div>
    </li>
  </ul>
</div>