/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900");

$font-lato: "Lato" !default;

$color-wisteria: #8e44ad;
$color-default: #33c3f0;

$light-grey: #e1e1e1 !default;
$dark-grey: #333 !default;
$primary-color: $color-default !default;
$secondary-color: lighten($dark-grey, 13.5%) !default;
$border-color: #bbb !default;
$link-color: #1eaedb !default;
$font-color: #222 !default;

$global-radius: 4px !default;

html {
  font-size: 62.5%;
}

body {
  font-size: 1.5em;
  font-family: $font-lato;
  font-weight: 500;
  line-height: 1.6;
  color: $font-color;
}

button,
.button {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: $secondary-color;
  text-align: center;
  font-size: 11px;
  font-weight: 900;
  font-family: $font-lato;
  line-height: 34px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: $global-radius;
  border: 2px solid $border-color;
  cursor: pointer;
  box-sizing: border-box;

  transition: all 0.2s ease-in-out;

  &:hover,
  &:focus {
    color: $dark-grey;
    border-color: lighten($dark-grey, 33.3%);
    outline: 0;
  }
}

button.button-primary,
.button.button-primary {
  color: #FFFFFF;
  background-color: $primary-color;
  border-color: $primary-color;

  &:hover {
    color: #FFFFFF;
    background-color: $link-color;
    border-color: $link-color;
  }
}

button.button-outline-primary,
.button.button-outline-primary {
  color: $primary-color;
  border-color: $primary-color;
  background-color: #FFFFFF;

  &:hover {
    color: #FFFFFF;
    background-color: $primary-color;
  }

  &:focus {
    box-shadow: 0 0 0 3px rgba($primary-color ,0.5);
  }
}

