/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900");

$font-lato: "Lato" !default;

/* Flat UI color scheme */

// red
$color-alizarin:    #E74C3C;
$color-pomegranate: #C0392B;
// orange
$color-carrot:      #E67E22;
$color-pumpkin:     #D35400;
// yellow
$color-sunflower:   #F1C40F;
$color-orange:      #F39C12;
// green
$color-emerald:     #2ECC71;
$color-nephritis:   #27AE60;
// turquoise
$color-turquoise:   #1ABC9C;
$color-green-sea:   #16A085;
// blue
$color-peter-river: #3498DB;
$color-belize-hole: #2980B9;
// purple
$color-amethyst:    #9B59B6;
$color-wisteria:    #8E44AD;


$color-wet-asphalt:   #34495E;
$color-midnight-blue: #2C3E50;

//$color-default: #33c3f0;

$light-grey: #e1e1e1 !default;
$dark-grey: #333 !default;
$primary-color: $color-turquoise !default;
$secondary-color: lighten($dark-grey, 13.5%) !default;
$border-color: #bbb !default;
$link-color: #1eaedb !default;
$font-color: $color-wet-asphalt !default;

$global-radius: 4px !default;

html {
  font-size: 62.5%;
}

body {
  font-size: 1.5em;
  font-family: $font-lato;
  font-weight: 500;
  line-height: 1.6;
  color: $font-color;
}

button,
.button {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: $secondary-color;
  text-align: center;
  font-size: 11px;
  font-weight: 900;
  font-family: $font-lato;
  line-height: 34px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: $global-radius;
  border: 2px solid $border-color;
  cursor: pointer;
  box-sizing: border-box;

  transition: all 0.2s ease-in-out;

  &:hover,
  &:focus {
    color: $dark-grey;
    border-color: lighten($dark-grey, 33.3%);
    outline: 0;
  }
}

button.button-primary,
.button.button-primary {
  color: #FFFFFF;
  background-color: $primary-color;
  border-color: $primary-color;

  &:hover {
    color: #FFFFFF;
    background-color: lighten($primary-color, 5%);
    border-color: lighten($primary-color, 5%);
  }
}

button.button-outline-primary,
.button.button-outline-primary {
  color: $primary-color;
  border-color: $primary-color;
  background-color: #FFFFFF;

  &:hover {
    color: #FFFFFF;
    background-color: $primary-color;
  }

  &:focus {
    box-shadow: 0 0 0 3px rgba($primary-color, 0.5);
  }
}

